*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*:focus {
    outline: 1px dashed #000;
    outline-offset: 1px;
    outline: none;
}

html {
    height: 100%;
    scroll-behavior: initial;
}

body {
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

:root {
    --main-color: #4B6A9B;
    --button-color: #0079FF;
    --body-color: #697C9A;
    --title-color: #2B3442;
    --background-color: #F6F8FF;
    --footer-color: #FEFEFE;
    --b-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.198567);
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    background-color: transparent;
}

input {
    width: 254px;
    background-color: transparent;
    border: none;
    outline: none;
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--main-color);
}

input::placeholder {
    font-family: 'Space Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--main-color);
}

img {
    display: flex;
}

ul {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Space Mono';
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: var(--main-color);
    background-color: var(--background-color);

}

.bcg {
    --main-color: #fff;
    --body-color: #fff;
    --background-color: #141D2F;
    --title-color: #FFFFFF;
    --background-color: #141D2F;
    --footer-color: #1E2A47;
    --b-shadow: none;
}

/* HEADER  */

.container {
    width: min(100%, 770px);
    margin: 0 auto;
    padding: 0px 20px;
}

.header {
    margin-bottom: 36px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__item {
    display: flex;
    align-items: center;
    gap: 16px;
}

.logo {
    font-weight: 700;
    font-size: 26px;
    line-height: 39px;
    color: var(--title-color);
}

.dark {
    font-weight: 700;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 2.5px;
    color: var(--body-color);
}

.wrap {
    width: min(100%, 730px);
    margin: 0 auto;
    /* display: flex; */
    justify-content: space-between;
    margin-bottom: 24px;
    background: var(--footer-color);
    box-shadow: var(--b-shadow) ;
    border-radius: 15px;
    padding: 10px;
}


/* HEADER END */


/* MAIN */
main .wrap2 {
    width: min(100%, 730px);
    margin: 0 auto;
    justify-content: space-between;
    margin-bottom: 24px;
    background: var(--footer-color);
    box-shadow: var(--b-shadow) ;
    border-radius: 15px;
    padding: 10px;
}

.wrap .header__list {
    display: flex;
    justify-content: space-between;
}

.header__item2 {
    display: flex;
    gap: 16px;
}

.logo {}

.button {
    font-weight: 700;
    padding: 13px 24px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #0079FF;
    border-radius: 10px;
}

.button:hover {
    background: #60ABFF;
}

.header__item2 {
    padding-left: 22px;
}


/* INTRO */
main .wrap2 {
    padding: 44px 48px 48px 48px;
}

.header__item {
    display: flex;
    gap: 37px;
}

.intro__title {
    margin-bottom: 2px;
}

.header__list2 {
    display: flex;
    gap: 20px;
    margin-bottom: 21px;

}

.intro__text1 {
    font-size: 16px;
    line-height: 24px;
    color: var(--button-color);
    margin-bottom: 20px;
}

.intro__text {
    font-size: 15px;
    line-height: 25px;
    opacity: 0.75;
}

.intro__text2 {
    justify-self: start;
    font-size: 15px;
    line-height: 22px;
    text-align: right;
    color: var(--body-color);
    margin-bottom: 70px;
}

.intro__wrap {
    display: flex;
    flex-direction: column;

}

/* INTRO END */


/* BOX */
.wrap__footer {
    /* display: flex; */
    padding-left: 152px;
}

.box {
    display: flex;
    flex-direction: column;
}

.top {}

.box__list {
    display: flex;
    justify-content: space-between;
}

.box__list1 {
    display: flex;
    background: var(--background-color);
    border-radius: 10px;
    padding: 16px 83px 16px 32px;
    margin-bottom: 37px;
    justify-content: space-between;
}

.box__item {}

.box__text {
    font-size: 13px;
    line-height: 19px;
}

.number {
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: var(--title-color);
}

.box__button {
    display: flex;
    gap: 60px;

}

.item0 {
    display: flex;
    gap: 18px;

}

.box__item2 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 18px;
}

/* BOX END */

/* MAIN END */

.mode {
    width: 20px;
    height: 20px;
    background-image: url('../imgs/svg/moon.svg');
}

.mode1 {
    background-image: url('../imgs/svg/sun.svg');

}






@media (min-width: 576px) and (max-width: 768px) {
    .wrap__footer {
        padding-left: 0px;
    }
}

@media (min-width: 376px) and (max-width: 576px) {
    .wrap__footer {
        padding-left: 0px;
    }
    .button{
        padding: 12px 16px;
    }
    .intro__title {
        font-size: 16px;
        line-height: 24px;
    }
    input {
        font-size: 13px;
        line-height: 25px;
    }
    input::placeholder {
        font-size: 13px;
        line-height: 25px;
    }
}